html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Poppins', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}

code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}

code[class*='language-'] {
  padding: 0;
}

label {
  color: #131338;
}

.content-right .MuiFormControl-root {
  border: 1px solid #323267 !important;
  height: 50px !important;
  border-radius: 12px !important;
}

.content-right input {
  border: none !important;
  line-height: normal !important;
  padding: 0 !important;
}

.content-right .MuiFormControl-root .MuiInputBase-formControl {
  padding: 14px 15px;
  border: none !important;
}

.search_field_dashboard .MuiFormControl-root {
  border: 1px solid #323267 !important;
  height: 50px !important;
  border-radius: 12px !important;
}

.search_field_dashboard input {
  border: none !important;
  line-height: normal !important;
  padding: 0 !important;
}

.search_field_dashboard .MuiFormControl-root .MuiInputBase-formControl {
  padding: 14px 15px;
  border: none !important;
}

/* .MuiFormControl-root {
  border: 1px solid #323267 !important;
  height: 50px !important;
  border-radius: 12px !important;
}

input {
  border: none !important;
  line-height: normal !important;
  padding: 0 !important;
}

.MuiFormControl-root .MuiInputBase-formControl {
  padding: 14px 15px;
  border: none !important;
} */
input:autofill {
  box-shadow: none !important;
}

label {
  color: rgb(114, 118, 132);
  font-size: 14px;
}

.layout-navbar {
  background: #0C0C1E;
  padding: 10px 0;
}

.modal_boxpanel .MuiPaper-elevation {
  background: rgba(3, 3, 43, 1) !important;
  width: 90%;
  max-width: 600px;
  border: 1px solid rgba(70, 73, 89, 1) !important;
  box-shadow: 0px 6px 40px 0px rgba(0, 0, 0, 0.08) !important;
  border-radius: 20px !important;
  height: auto;
  overflow-y: hidden;
}

.edit_ticketbox .MuiPaper-elevation {
  background: rgba(3, 3, 43, 1) !important;
  width: 90%;
  max-width: 840px;
  border: 1px solid rgba(70, 73, 89, 1) !important;
  box-shadow: 0px 6px 40px 0px rgba(0, 0, 0, 0.08) !important;
  border-radius: 20px !important;
  height: auto;
  overflow-y: hidden;
}

.modal_boxpanel .dropzone {
  height: 190px;
  border-radius: 20px;
  border: 1.6px dashed rgb(77, 77, 140);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropimg img {
  max-height: 75px;
}

.MuiLinearProgress-root {
  background: rgb(26, 174, 255) !important;
  opacity: .10 !important;
}

@media (max-width:850px) {
  .layout-navbar {
    padding: 0;
    background: #0C0C1E !important;
  }

  .layout-navbar .navbar-content-container {
    background: transparent;
    margin-top: 0 !important;
    padding: 0 !important;
  }

  .logo_header {
    font-size: 22px !important;
    margin: 0 !important;
  }


}

@media (max-width:567px) {
  .logo_header img {
    display: block;
    width: 45px !important;
    height: 45px !important;
    border-radius: 16px;
    background: #FFFFFF;
    padding: 8px;
    margin-right: 12px;
  }

  .logo_header {
    font-size: 20px !important;
    margin: 0 !important;
  }

  .search_field_dashboard {
    display: block !important;
  }
}

.logo_header {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: #fff;
}

.logo_header img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 16px;
  background: #FFFFFF;
  padding: 8px;
  margin-right: 12px;
}

.menu-content.MuiBox-root.css-n903wg {
  position: absolute;
  right: 90px;
}

.menu-content a {
  background: none !important;
  box-shadow: none !important;
}

.menu-content a p {
  color: #1AAEFF !important;
  position: relative;
}

.menu-content a {
  position: relative;
  color: #1AAEFF;
}

.menu-content a::before {
  background: #1AAEFF;
  width: 20%;
  height: 2px;
  content: '';
  position: absolute;
  bottom: 0px;
  left: 48%;
}

.MuiListItemIcon-root svg {
  display: none;
}